.mod-center{
    display: flex;
    margin:  auto;
    align-items: center;
}
.container .row .content-from{
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 90%;
    width: 40%;
    z-index: 111;
}
.content-from .container-input{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.content-from form{
    margin: auto;
    width: 100%;
    height: 100%;
}
.container-from{
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    top: 10%;
}
/*.btn-create del form*/
.btn-create{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    border-radius: 15px;
    border: 1px;
    padding: 8px;
    outline: none;
}
/*btn-add el boton para abrir el form o mostral el from para agregar un nuevo coche*/
.btn-add{
    z-index: 100;
    position: fixed;
    bottom: 50%;
}
/*===========================*/
.color-white{
    color: white;
}
.margin-auto{
    margin: auto;
}
.margin-bottom{
    margin-bottom: 0px;
}
.margin-left{
    margin-left: 15px;
}
.margin-top-10px{
    margin-top: 10px;
}
.display-none{
    display: none;
}
.text-aling-center{
    text-align: center;
}
/*===========================*/
.containerr{
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    word-wrap: break-word;
}
.row{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.col-5{
    width: 41.66%;
    height: auto;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-12{
    width: 100%;
    height: auto;
}