body{
    margin: 0;
    padding: 0;
}

header{
    background-image: url(../img/img-hader.jpg);
    background-size: cover;
    background-position: center 95%;
    background-repeat: no-repeat;
    width: 100%;
    height: 42vw;
    margin: 0 auto;
}
h1{
    font-family: 'PT Sans', sans-serif;
    font-size: 48px;
}
/*===========================*/
.mod-center{
    display: flex;
    margin:  auto;
    align-items: center;
}
/*===========================*/
.color-white{
    color: white;
}
.margin-auto{
    margin: auto;
}
/*===========================*/
.container{
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    word-wrap: break-word;
}
.row{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
/*===========================*/
@media(max-width: 790px){
    header {
        height: 60vh;
    }
    h1{
        font-size: 36px;
    }
}